body {
    display: flex;
    place-content: center center;

    background-image: url("space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.box1 {
    background-color: rgba(255, 255, 255, 0.6);
    height: 20rem;
    width: 20rem;
    border: 1px;
    border-radius: 25px;
}

.box2 {
    background-color: rgba(255, 255, 255, 0.6);
    height: 20rem;
    width: 35rem;
    border: 1px;
    border-radius: 25px;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

main {
    place-content: top;
}

.gif,
img {
    border-radius: 150%;
    max-width: 100%;
    width: 8rem;

}