body {
    display: grid;
    place-content: center center;

    background-image: url("space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.box1 {
    background-color: rgba(255, 255, 255, 0.6);

    width: 22rem;
    border: 1px;
    border-radius: 25px;
    flex-grow: 999;
}

.bild-och-rubrik-låda {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header {
    display: flex;
    align-items: baseline;
    margin: 0;
}

.header h2 {
    margin: 0;
    line-height: 1;
}

.contact-info {
    margin-left: 10px;
    line-height: 1;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: rgba(black, black, black, 0.6);
}

.skills {
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: 1px;
    border-radius: 25px;
}

.singing {
    width: 100%;
    background-color: blueviolet;
}

.music {
    width: 99.99%;
    background-color: purple;
}

.pilgrimage {
    width: 100%;
    background-color: blue;
}

.cuteness {
    width: 100%;
    background-color: pink;
}

.content {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.box2 {
    background-color: rgba(255, 255, 255, 0.6);

    width: 35rem;
    border: 1px;
    border-radius: 25px;
    flex-grow: 999;
}

.info {
    list-style-type: none;
    padding: 1rem;
    margin-left: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex-basis: 10rem;
    flex-grow: 1;
}

.not-sidebar {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.experience {
    margin: 0;
    padding-left: 1rem;
    line-height: 1;
    padding-bottom: 10px;
}

.gif,
img {
    border-radius: 150%;
    max-width: 100%;
    width: 8rem;
    padding: 6px;
}


@media (max-width: 480px) {
    body {
        padding: 0.5rem;
    }

    .wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0.75rem;
    }


    .box1,
    .box2 {
        width: 100% !important;
        max-width: 100%;
        border-radius: 16px;
    }


    .bild-och-rubrik-låda {
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }

    .gif,
    img {
        width: 5.25rem;
        height: 5.25rem;
        padding: 4px;
        border-radius: 50%;
    }

    .content,
    .box1,
    .box2 {
        padding: 0.5rem;
    }

    .with-sidebar {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-basis: auto;
    }

    .not-sidebar {
        min-inline-size: 100%;
    }
}